
.DS_Store
.idea/*
test_file.py
*.pyc
anduindata.egg-info/*
dist/*
setup.py
config/*

db_frame.py
default
.vscode/*

py38install.sh
anduin.egg-info
anduin.egg-info/*
*.db
get_size.py
.anduin/*
async_test.py
upload.py
README.rst
